{#
/**
 * @file
 * theme implementation of LCNAF search results
 *
 * Available variables:
 * - items: The LCNAF search result(s)
 *   - result_number: result row number
 *   - controlfield_001: OCoLC number
 *   - datafield_100a: full name
 *   - datafield_100d: birth/death year range
 */
#}

<ul>
  {% for item in items %}
    <li>
      {% spaceless %}
        <strong>{{ item.result_number ~ ' : ' }}</strong>{{ item.datafield_100a ~ ' '}}
        {% if item.datafield_100d %}
          {{ item.datafield_100d ~ ', ' }}
        {% endif %}
        {{ 'OCoLC# ' ~ item.controlfield_001 }}
        {{ ' ' }}
        <a href="{{ path('lcnaf.form_ajax') }}" class="{{ 'link-add-authority' }}" data-lcnaf-lccn="{{ item.result_number }}">
          {{ 'Add Authority Name'|t }}
        </a>
        {#
        {{ link('Add Authority Name', url('lcnaf.form_ajax'), { 'class':['link-add-authority'], 'data-lcnaf-lccn': item.result_number } ) }}
        #}
      {% endspaceless %}
    </li>
  {% else %}
    <li>No results to display for that name.</li>
  {% endfor %}
</ul>
